#navbar {
    height: 56px;
    background-color: #364968;
    color: #fff;
}

#navbar-icon {
    width: 56px;
    float: left;
}

#navbar-icon>.material-icons {
    margin: 16px;
}

#navbar-title {
    padding: 16px;
    font-size: 18px;
    float: left;
}

#navbar-action {
    width: 56px;
    float: right;
}

#navbar-action>.material-icons {
    margin: 16px;
}