.menu-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(45, 90, 125, 0.1);
    border-radius: 8px;
    overflow: hidden;
    font-size: 0px;
}

@media (min-width: 800px) {
    .menu-card-image {
        height: 231px;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

    .menu-card-text {
        height: 110px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }

    .menu-card-text>p {
        margin: 0px;
        padding-top: 45px;
    }
}

@media (max-width: 799px) {
    .menu-card-image {
        height: 95px;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
    }

    .menu-card-text {
        height: 45px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
}