.start-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-page>p {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

@media (min-width: 800px) {
    .start-page>img {
        padding-top: 77px;
        width: 294px;
        height: 251px;
        padding-bottom: 74px;
    }
}

@media (max-width: 799px) {
    .start-page>img {
        padding-top: 64px;
        width: 209px;
        height: 178px;
        padding-bottom: 48px;
    }
}