input {
    height: 24px;
    margin: 8px 0px 8px 0px;
    width: calc(100% - 8px);
}

select {
    height: 30px;
    margin: 8px 0px 8px 0px;
    width: 100%;
}

form {
    margin: 16px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
}

@media (min-width: 800px) {
    .form-row {
        flex-direction: row;
        align-items: center;
    }

    .form-left-cell {
        width: 200px;
    }

    .form-right-cell {
        width: 600px;
    }
}

@media (max-width: 799px) {
    .form-row {
        flex-direction: column;
    }
}