#logo-holder {
    margin-top: 64px;
    margin-bottom: 80px;
}

@media (min-width: 800px) {
    #section-holder {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 799px) {
    #section-holder {
        display: flex;
        gap: 16px;
        padding: 16px;
    }

    .card-wrapper {
        width: 50%;
        float: left;
    }
}