.blue-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background: #364968;
    border-radius: 8px;

    width: 100px;
    height: 32px;
    margin: 16px;
}