.user-item {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.user-item-avatar {
    object-fit: cover;
    border-radius: 8px;
}

.user-item-text-column {
    flex-grow: 1;
}

.user-item-school {
    color: #7A91B5;
}

@media (min-width: 800px) {
    /* desktop */

    .user-item {
        height: 112px;
    }

    .user-item-avatar {
        width: 80px;
        height: 80px;
        margin: 16px 0px 16px 16px;
    }

    .user-item-text-column {
        margin: 16px 0px 0px 12px;
    }

    .user-item-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;

        height: 29px;
        width: 212px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user-item-school {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .user-item-delete {
        width: 50px;
    }

    .user-item-delete-icon {
        margin: 49px 13px 0px 13px;
    }
}

@media (max-width: 799px) {
    /* mobile */

    .user-item {
        height: 72px;
    }

    .user-item-avatar {
        width: 56px;
        height: 56px;
        margin: 8px 0px 8px 16px;
    }

    .user-item-text-column {
        margin: 8px 0px 0px 12px;
    }

    .user-item-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }

    .user-item-school {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .user-item-delete {
        width: 62px;
    }

    .user-item-delete-icon {
        margin: 29px 32px 0px 17px;
    }
}