#school-logo-horizontal>img {
    width: 41;
    height: 41;
}

#school-logo-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#school-logo-horizontal-text {
    padding-left: 12px;
    font-size: 24px;
}

#school-logo>img {
    width: 41;
    height: 41;
}

#school-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#school-logo-text {
    padding-top: 16px;
    font-size: 24px;
}