.user-card {
    position: relative;
    width: 343px;
    height: 162px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
}

.user-card-left-col {
    width: 199px;
    height: 130px;

    margin-left: 16px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.user-card-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

    width: 193px;
    height: 42px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-card-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-card-info-item {
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
}

.user-card-info-item>img {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    width: 16px;
    height: 16px;

    color: #7A91B5;
}

.user-card-info-item>p {
    margin: 0px 0px 0px 8px;
    padding: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #7A91B5;
}

.user-card-info-item>a>p {
    margin: 0px 0px 0px 8px;
    padding: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #7A91B5;
}

.user-card-right-col {
    width: 104px;
    height: 130px;
    margin-left: 8px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
}

.user-card-right-col>img {
    width: 104px;
    height: 104px;
    border-radius: 8px;
    object-fit: cover;
}

.user-card-socials {
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 2px;
    width: 100px;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.user-card-social-active {
    width: 16px;
    height: 16px;
}

.user-card-social-disabled {
    width: 16px;
    height: 16px;
    opacity: 0.5;
}